<footer class="footer-container">
  <div class="footer-content">
    <p class="copyright">
      © {{ currentYear }} <span class="brand">CV-Employee Platform</span>. {{ 'footer.rights' | translate }}
    </p>
    <div class="footer-links">
      <span class="status-indicator">
        <span class="dot"></span> {{ 'footer.systemOperational' | translate }}
      </span>
      <a href="#privacy">{{ 'footer.confidentiality' | translate }}</a>
      <a href="#terms">{{ 'footer.terms' | translate }}</a>
    </div>
  </div>
</footer>