<div class="auth-container">
  <div class="auth-card">
    
    <!-- En-tête dynamique -->
    <div class="auth-header">
      <h2>{{ (isLoginMode() ? 'auth.loginTitle' : 'auth.registerTitle') | translate }}</h2>
      <p>{{ (isLoginMode() ? 'auth.loginSubtitle' : 'auth.registerSubtitle') | translate }}</p>
    </div>

    <!-- Messages d'erreur ou de succès -->
    @if (errorMessage()) {
      <div class="alert error">{{ errorMessage() }}</div>
    }
    @if (successMessage()) {
      <div class="alert success">{{ successMessage() }}</div>
    }

    <!-- Formulaire -->
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      
      <!-- Champ Username (Uniquement en mode Inscription) -->
      @if (!isLoginMode()) {
        <div class="form-group">
          <label>{{ 'auth.username' | translate }}</label>
          <input type="text" formControlName="username" [placeholder]="'auth.usernamePlaceholder' | translate" />
        </div>
      }

      <div class="form-group">
        <label>{{ 'auth.email' | translate }}</label>
        <input type="email" formControlName="email" [placeholder]="'auth.emailPlaceholder' | translate" />
      </div>

      <div class="form-group">
        <label>{{ 'auth.password' | translate }}</label>
        <input type="password" formControlName="password" placeholder="••••••••" />
      </div>

      <!-- Champ Role (Uniquement en mode Inscription) -->
      @if (!isLoginMode()) {
        <div class="form-group">
          <label>{{ 'auth.role' | translate }}</label>
          <select formControlName="role">
            <option value="RH">RH</option>
            <option value="ADMIN">ADMIN</option>
          </select>
        </div>
      }

      <button type="submit" class="btn-submit" [disabled]="authForm.invalid || isLoading()">
        {{ isLoading() ? ('auth.loading' | translate) : ((isLoginMode() ? 'auth.loginBtn' : 'auth.registerBtn') | translate) }}
      </button>
    </form>

    <!-- Basculeur de mode -->
    <div class="auth-footer">
      @if (isLoginMode()) {
        <p>{{ 'auth.noAccount' | translate }} <a href="#" (click)="$event.preventDefault(); toggleMode(false)">{{ 'auth.registerBtn' | translate }}</a></p>
      } @else {
        <p>{{ 'auth.hasAccount' | translate }} <a href="#" (click)="$event.preventDefault(); toggleMode(true)">{{ 'auth.loginBtn' | translate }}</a></p>
      }
    </div>

  </div>
</div>